<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="box" params="parent *origin">
    
    
    
    <joint name="box_joint" type="fixed">
      <parent link="ur5e_tool0" />
      <child link="box" />
      <origin rpy="0 0 0" xyz="0 0 0.16"/>
    </joint>

    <link name="box">
      <visual>
        <geometry>
          <box size="0.1 0.1 0.16"/>
        </geometry>
        <origin rpy="0 0 0" xyz="0 0 -0.08"/>
        <material name="black">
          <color rgba="0.2 0.2 0.2 1.0"/>
        </material>
      </visual>
      <collision>
        <geometry>
          <box size="0.1 0.1 0.16"/>
        </geometry>
        <origin rpy="0 0 0" xyz="0 0 -0.079"/>
      </collision>
      <inertial>
        <mass value="1.0"/>
        <inertia
        ixx="1.0" ixy="0.0" ixz="0.0"
        iyy="1.0" iyz="0.0"
        izz="1.0"/>
      </inertial>
    </link>


    


  </xacro:macro>
</robot> 


