<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find ur_description)/urdf/ur_macro.xacro"/>
  
  
  <xacro:include filename="$(find my_robot_cell_description)/urdf/box.xacro"/>
  <xacro:include filename="$(find my_robot_cell_description)/urdf/2fg7_gripper/urdf/onrobot_2fg7_gripper.urdf.xacro"/>
  <xacro:macro name="my_robot_cell" params="
    parent
    *origin
    prefix
    ur_type
    joint_limits_parameters_file
    kinematics_parameters_file
    physical_parameters_file
    visual_parameters_file
    ">

  
    
    <link name="${prefix}robot_mount"/>
    <joint name="${prefix}base_to_robot_mount" type="fixed">
      <parent link="${prefix}robot_base_plate"/>
      <child link="${prefix}robot_mount"/>
      <origin xyz="0 0 0" rpy="0 0 ${pi}" />
    </joint>

    <!--This will create the specific robot-->
    <xacro:ur_robot
      name="${prefix}${ur_type}"
      tf_prefix="${prefix}${ur_type}_"
      parent="${prefix}robot_mount"
      joint_limits_parameters_file="${joint_limits_parameters_file}"
      kinematics_parameters_file="${kinematics_parameters_file}"
      physical_parameters_file="${physical_parameters_file}"
      visual_parameters_file="${visual_parameters_file}"
    >
      <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:ur_robot>

    <xacro:box parent="${prefix}ur5e_tool0">
      <origin xyz="0 0 0.1" rpy="0 0 0"/>
    </xacro:box>

    <!--xacro:onrobot_2fg7_gripper prefix= "onrobot_2fg7_gripper" parent="ur5e_tool0">
      <origin yxz="0 0 0" rpy="0 4.71239 0"/>
    </xacro:onrobot_2fg7_gripper-->



  </xacro:macro>

</robot>
